body
  background steelblue
  color white

#chart div  
  display inline-block;
  background #bada55
  width 20px
  margin-right 3px

#catDiv
  background grey

table {
    border: 1px solid red;
    // padding 10
  }
  td  {
    border: 1px solid black;
    padding: 5px;
  }

th {
  background: green
}

caption {
  padding 5px
}
