$blue = #4682b4
$darkblue = #4a46b4
$pink = #b44669
$brown = #b45d46
$green = #9AB446
$gray = #112

body
  background $blue
  color $gray

table 
  // width: 540px; 
  border-collapse collapse
  border-spacing 0


td, th  
  border 1px solid $darkblue
  // height 30px
  padding 8px
  text-align center


th 
  background $brown


legend 
  color: $green



@-webkit-keyframes greenPulse 
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }


#rankHelp, #rankRow
  // -webkit-animation-name: greenPulse;
  // -webkit-animation-duration: 2s;
  // -webkit-animation-iteration-count: infinite;
  background $pink


.rowDone
  background $gray


.rowLit
  background $pink


.hidden 
  display none

.bob
  background green


#dropZone
  padding 24px
  border-style dashed
  height 100px
  width 75%
  // font-size 36pt
  background-color $brown
